header {
    border-bottom: 1px solid gray;
}

header img {
    height: 20px;
    vertical-align: middle;
}

table {
    border-collapse: separate; /* 테두리 사이에 여백을 허용 */
    border-spacing: 2px; /* 셀 사이의 여백을 설정 */
}

/* 테이블 경계선 스타일 */
table, th, td {
    border: 1px solid black; /* 테두리 두께와 색상 설정 */
}

th {
    background-color: #c2c2c2; /* 헤더 배경색 설정 (선택적) */
    padding: 5px; /* 셀 안의 여백 설정 */
}

td {
    padding: 5px;
}