<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!-- .properties 파일 로딩 -->
  <properties resource="config/jdbc.properties"/>

  <!-- 도메인 클래스에 별명 부여하기 -->
  <typeAliases>
    <!--
    <typeAlias type="bitcamp.myapp.vo.User" alias="user"/>
    <typeAlias type="bitcamp.myapp.vo.Board" alias="board"/>
    <typeAlias type="bitcamp.myapp.vo.Project" alias="project"/>
    -->
    <package name="bitcamp.myapp.vo"/>
  </typeAliases>

  <!-- DBMS 접속정보 -->
  <environments default="development-local">

    <!-- 개발하는 동안 사용할 DBMS 접속 정보 -->
    <environment id="development-local">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>

  </environments>


  <!-- SQL문 파일 위치 -->
  <mappers>
    <mapper resource="mappers/UserDaoMapper.xml"/>
    <mapper resource="mappers/BoardDaoMapper.xml"/>
    <mapper resource="mappers/ProjectDaoMapper.xml"/>
  </mappers>
</configuration>